/* You can add global styles to this file, and also import other style files */
* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;

  width: 100vw;
  height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  display: grid;
  grid-template-columns: minmax(0, 1fr);
  grid-template-rows: minmax(0, 1fr);
  align-items: stretch;
}

.drag {
  -webkit-app-region: drag;
}

.no-drag {
  -webkit-app-region: no-drag;
  cursor: pointer;
}
